<p id="notice">
<%= notice %>
</p>
<div class="grid-x grid-margin-x align-center">
  <div class="cell" style="text-align: center;">
    <h1>Editing Bill</h1>
  </div>
  <%= render 'form', bill: @bill %>
  <%= render 'attachment_form', bill: @bill %>
  <div class="cell" style="text-align: center;">
    <%= link_to 'Back', bills_path, { class: "button", style: "color: white;" } %>
  </div>
</div>
