<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
    <h1>New Bill</h1>
  </div>

  <%= render 'form', bill: @bill %>
  
<div class="cell" style="text-align: center;">
  <%= link_to 'Back', bills_path, { class: "button", style: "color: white;" } %>
</div>
</div>
