<p id="notice">
<%= notice %>
</p>

<div class="grid-x grid-margin-x align-center">

<div class="cell" style="text-align: center;">
<h1>Editing Income</h1>
</div>
<%= render 'form', income: @income %>
<%= render 'attachment_form', income: @income %>
  <div class="cell" style="text-align: center;">
<%= link_to 'Back', incomes_path, { class: "button", style: "color: white;" }%>
</div>
</div>
