<div class="grid-x align-center">
  <div class="cell" style="text-align: center;">
    <h1>New Income</h1>
  </div>
  <%= render 'form', income: @income %>
    <div class="cell" style="text-align: center;">
      <%= link_to 'Back', incomes_path %>
    </div>
</div>