<div class="grid-x align-center">
    <div class="cell" style="text-align: center;">
<h1>New Annual Budget</h1>
  </div>

<%= render 'form', annual_budget: @annual_budget %>

      <div class="cell" style="text-align: center;">
<%= link_to 'Back', annual_budgets_path, { class: "button", style: "color: white;" } %>
  </div>
</div>