<div>
  
  <div class="grid-x align-center">
    <div class="cell small-6" style="text-align: center;">
      <h3>
        Welcome to Easy Budget
      </h3>
    </div>
  </div>
  
  <div class="grid-x align-center">
    <div class="cell small-6">
      <p>
        This application is designed to help you plan and carry out a budget that fits your needs.  It allows you to add your incomes, bills, and savings, and then shows you how much spending money you have left (broken down by week) after everything else has been allocated.
      </p>
      <p>
        Please see the video below for a walkthrough of the application.
      </p>
      <div class="responsive-embed">
        <%#= video_tag "test.mp4", :controls => true %>
      </div>
    </div>
  </div>

</div>