<div class="top-bar" style="position: absolute; width: 100%; bottom: 0;">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>Thanks for using Easy Budget</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        Copyright RH: <%= Date.today.strftime("%Y") %>
      </li>
    </ul>
  </div>
</div>