<% @leftover_amount = @incomes.where(use_month: Date.new(@annual_budget.year, MONTHHASH[this_month], 1)..Date.new(@annual_budget.year, MONTHHASH[this_month], -1)).sum(&:net_amount) - @bills.where(withdrawal_date: Date.new(@annual_budget.year, MONTHHASH[this_month], 1)..Date.new(@annual_budget.year, MONTHHASH[this_month], -1)).sum(&:amount) - @savings.where(save_date: Date.new(@annual_budget.year, MONTHHASH[this_month], 1)..Date.new(@annual_budget.year, MONTHHASH[this_month], -1)).sum(&:amount) %>
<table>
  <thead>
  <tr>
    <th>Leftover for Spending</th>
  </tr>
  </thead>
  <tbody>
  <% if @leftover_amount == 0 %>
    <tr>
      <td><strong>No Spending This Month</strong></td>
    </tr>
  <% else %>
    <tr>
      <th>Amount: <%= '%.2f' % @leftover_amount %></th>
    </tr>
    <tr>
      <td>Amount Per Week (4 Weeks): <%= '%.2f' % (@leftover_amount / 4) %></td>
    </tr>
    <tr>
      <td>Amount Per Week (5 Weeks): <%= '%.2f' % (@leftover_amount / 5) %></td>
    </tr>
  <% end %>
    </tbody>
  </table>