<% if month.get_leftovers == 0 %>
<h3>
  Nothing left this month.
</h3>
<% elsif month.get_leftovers < 0 %>
  <h3 style="color: red;">
    You are in the hole $<%= '%.2f' % month.get_leftovers.abs %>!!
  </h3>
  <% else %>
  <h3>
    You have $<%= '%.2f' % month.get_leftovers %> left.
  </h3>
  <h5>
    Maybe you should save it >>>>>  <%= link_to 'Save it', new_saving_path, {class: "button small", style: "color: white;"} %>
  </h5>
<% end %>
